<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <h3>Roster</h3>
  <table>
    <thead>
      <th>Slot</th>
      <th>Player (pos)</th>
    </thead>
    <tbody>
      <% @team.starters.each do |roster_slot| %>
        <%= f.fields_for 'roster_slots[]', roster_slot do |rsf| %>
          <tr>
            <td><%= rsf.collection_select :slot_id, available_positions(@team, roster_slot.player), :id, :name %></td>
            <td>
              <%= roster_slot.player.full_name %> (<%= roster_slot.player.position.abbreviation %>)
              <%= rsf.hidden_field :player_id, :value => roster_slot.player_id %>
              <%= rsf.hidden_field :id, :value => roster_slot.id %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <% @team.bench.each do |roster_slot| %>
        <%= f.fields_for 'roster_slots[]', roster_slot do |rsf| %>
          <tr>
            <td><%= rsf.collection_select :slot_id, available_positions(@team, roster_slot.player), :id, :name %></td>
            <td>
              <%= roster_slot.player.full_name %> (<%= roster_slot.player.position.abbreviation %>)
              <%= rsf.hidden_field :player_id, :value => roster_slot.player_id %>
              <%= rsf.hidden_field :id, :value => roster_slot.id %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
