<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @team.title %>
</p>

<h3>Roster</h3>
<table>
  <thead>
    <th>Slot</th>
    <th>Player (pos)</th>
  </thead>
  <tbody>
    <% @team.starters.each do |roster_slot| %>
      <tr>
        <td><%= roster_slot.slot.name %></td>
        <td><%= roster_slot.player.full_name %> (<%= roster_slot.player.position.abbreviation %>)</td>
      </tr>
    <% end %>
    <% @team.bench.each do |roster_slot| %>
      <tr>
        <td><%= roster_slot.slot.name %></td>
        <td><%= roster_slot.player.full_name %> (<%= roster_slot.player.position.abbreviation %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
</p>
