<%= form_for(@league_roster_slot) do |f| %>
  <% if @league_roster_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league_roster_slot.errors.count, "error") %> prohibited this league_roster_slot from being saved:</h2>

      <ul>
      <% @league_roster_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.number_field :position_id %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :league_id %><br>
    <%= f.number_field :league_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
