<p id="notice"><%= notice %></p>

<p>
  <strong>Proof url:</strong>
  <%= @point_submission.proof_url %>
</p>

<p>
  <strong>Scorigin statistic:</strong>
  <%= @point_submission.scoring_statistic.description %>
</p>

<p>
  <strong>Scorigin override:</strong>
  <%= @point_submission.scoring_statistic_override %>
</p>

<p>
  <strong>Points:</strong>
  <%= @point_submission.points %>
</p>

<p>
  <strong>Status:</strong>
  <%= @point_submission.status %>
</p>

<p>
  <strong>Player:</strong>
  <%= @point_submission.player.full_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @point_submission.comment %>
</p>

<%= link_to 'Edit', edit_point_submission_path(@point_submission) %> |
<%= link_to 'Back', point_submissions_path %>
